@charset "UTF-8";
/*
* Переменные цветовой палитры
*/
/*
* Переменные размеров
*/
@font-face {
  font-family: "Lato";
  src: url("./fonts/LatoBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/LatoMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/LatoRegular.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/LatoHeavy.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("./fonts/LatoLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Inconsolata";
  src: url("./fonts/InconsolataMedium.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Lato";
  transition: all 250ms ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #229fff;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

ul > li > a:hover {
  color: red;
}

html {
  font-size: 16px;
}

body {
  font-family: "Lato";
  font-weight: 500;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*
* Размер ограничивающего контейнера
*/
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/*
* Общий стиль Input
*/
.base-input,
.select {
  border: 2px solid transparent;
  height: 50px;
  width: 100%;
  background: #e1e5f2;
  border-radius: 0.9375rem;
  padding-left: 20px;
  font-size: 1rem;
  line-height: 19px;
  color: #022b3a;
  caret-color: #022b3a;
}

.header {
  font-size: 1rem;
}
.header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.header-main__logo {
  min-width: 100px;
  width: auto;
}
.header-nav {
  background-color: #fff;
  flex: 1;
  margin-left: 20px;
}
.header-nav > ul {
  display: flex;
}
.header-nav > ul > li {
  margin-right: 15px;
  font-size: 1.125rem;
}
.header-nav > ul > li > a {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #022b3a;
}
.header-nav > ul > li > a:hover {
  color: #229fff;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(2, 43, 58, 0.2);
  align-items: center;
  flex-grow: 1;
}
.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: clamp(22px, 0.34vh + 10px, 50px);
  line-height: 46px;
  color: #022b3a;
  padding-top: 100px;
  padding-bottom: 25px;
}

.footer-main {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-main__reserved {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: #022b3a;
}
.footer-main__reserved > span {
  font-weight: bold;
}

/* 
* Стили генерации пароля
*/

.show_gen_pswd {
  font-family: "Inconsolata";
  font-size: 50px;
}

#pwd_length {
  border: none;
  background: transparent;
  outline: none;
  font-size: 20px;
  padding: 5px;
  flex-basis: 100px;
  width: 50px;
}

.pswd_block {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  font-size: 18px;
}

.pswd_block p {
  flex-basis: 140px;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox {
  margin-left: 15px;
}
.checkbox input {
  opacity: 0;
  z-index: -1;
  position: absolute;
}

.checkbox label{
  display: flex;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.checkbox input:checked + label:before {
  background-color: #033483;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* .checkbox:not(:checked) label:before{
  background-color: #02fa27;
} */

.copy_pswd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 700px;
  height: 80px;
  background-color: white;
  border-radius: 15px;
  padding: 0 30px;
  margin-bottom: 10px;
  align-items: center;
}
.copy_pswd img {
  flex-direction: row;
  width: 30px;
  height: 30px;
  cursor: pointer;
}


.pwd_hint {
  margin-top: 10px;
}

.number-input {
  flex-grow: 1;
}

.number-input input {
  text-align: center;
}

.number-input button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: none;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.number-input button.plus {
  background-color: #033483;
}
.number-input button.minus {
  background-color: #fa0202;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
