<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <title>GTRK password generator</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>

  <body>
    <section class="header">
      <div class="container">
        <div class="header-main">
          <a class="header-main__logo" href="#"
            ><img src="{% static './images/Logo.svg' %}" alt=""
          /></a>
        </div>
      </div>
    </section>
    <section class="modal">
      <div class="container">
        <div class="modal-title"><h1>Генератор паролей</h1></div>
        <div class="copy_pswd">
          <p class="show_gen_pswd" id="pwd"></p>
          <img class="img_copy" src="{% static './images/copy.png' %}" alt="" />
        </div>
        <div class="pswd_block">
          <p>Длинна пароля</p>
          <form class="post" method="post">
            {% csrf_token %}
            <input
              min = "0"
              max="20"
              value="8"
              type="number"
              name="pwd_length"
              id="pwd_length"
            />
            <div class="checkbox">
              <input type="checkbox" name="specs" id="specs" />
              <label for="specs">Добавить спецсимволы</label>
            </div>
        </div>
        
          <!-- <label class="hint" for="pwd_length">Введите длину пароля</label> -->
          
        </form>
        <div class="pwd_hint"></div>
      </div>
    </section>
    <section class="footer">
      <div class="container">
        <div class="footer-main">
          <div class="footer-main__reserved">
            Все права защищены <span>2023 г.</span>
          </div>
        </div>
      </div>
    </section>
    <script src="./main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{% static 'main.js' %}" defer></script>
  </body>
</html>
